.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
  justify-content: space-between;
  grid-template-areas:
          "logo empty"
          "logo menu"
}

.header-logo {
  grid-area: logo;
}

.main-menu-grid-item {
  grid-area: menu;
  margin-left: auto;
}

.main-banner {
  grid-area: banner;
}

.main-banner img {
  width: 100%;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .header-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "logo"
    "menu"
  }
  .main-menu-grid-item {
    margin-left: unset;
    font-size: 32px;
  }

  .header-logo {
    text-align: center;
    padding-bottom: 16px;
  }
}

