.home-intro-container {
  background-color: var(--accent-color-2);
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.home-container p {
  text-align: center;
  padding: 0 16px 0 16px;
}

.quote {
  font-style: italic;
  font-size: 34px;
  font-weight: lighter;
  text-align: center;
  padding: 16px;
}

.sc-title {
  text-align: center;
  padding: 16px;
  text-decoration: underline;
}

.home-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 700px) {
  .scroll-content {
    overflow: scroll;
    width: 100vw;
    max-height: 400px;
  }

  .home-content {
    padding-left: 16px;
    width: 1150px;
  }
}

@media (min-width: 700px) {
  .citat {
  padding: 16px;
  margin-top: 48px;
  }

  .home-content {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media (min-width: 1024px) {
  .home-intro-container {
    width: 1024px;
  }


  .home-intro-container {
    margin: 16px auto;
  }
}
