.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-menu-item {
  display: inline;
  padding: 16px;
}

.main-menu-item a {
  font-size: 120%;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #5699D2;
}

.menu-text {
  display: inline;
}

.menu-icons {
  display: none;
}

.main-menu-item .active {
  border-bottom: 2px solid #223C52;

}



@media only screen and (max-width: 600px) {

  .menu-text {
    display: none;
  }

  .menu-icons {
    display: inline;
    text-align: center;
  }
}