.spc-container {
  color: #ffffff;
  background-color: var(--accent-color-3);
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
}

.spc-container input {
  padding: 4px;
  margin: 4px;
  font-size: 16px;
  text-decoration: none;
}

.spc-container p {
  padding: 0px;
  margin: 0;
  margin-bottom: 4px;
}
