.service-content-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 16px;
  max-width: 1024px;
  grid-template-areas:
          "service-image"
          "service-info"
          "booking-button";
}


.service-image {
  grid-area: service-image;
  margin-bottom: 16px;
  margin-top: 16px;
  height: 256px;
  overflow: hidden;
  text-align: center;
}
.service-image-inner {
    display: inline-block;
    position: relative;
    right: -50%;
}

  .service-image-inner img {
    margin: 0 auto;
    position: relative;
    left: -50%
  }

.service-info {
  grid-area: service-info;
  margin: 16px;
  width: auto;
  height: auto;
}

.service-calculator {
  grid-area: service-calculator;
  display: inline-block;
  height: 100%;
  margin: 16px;
  text-align: center;
}

.booking-button {
  grid-area: booking-button;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 16px;
  display: inline-block;
  text-decoration: none;
  width: 50%;
  background-color: var(--accent-color-2);
  border-radius: 4px;
}

.booking-button a {
  text-decoration: none;
}

.booking-button button[type=button]  {
    width: 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    font-size: 22px;
}


@media only screen and (max-width: 600px) {
    .service-content-container {
        max-width: 600px;
    }
}
