:root {
  --main-color: #5699D2;
  --accent-color-1: #223C52; /*selections, should be opposite of main-color*/
  --accent-color-2: #9ABCD9; /*cards*/
  --accent-color-3: #41749F; /*tools*/
  --accent-color-4: #3B4752; /*Footer mainly*/
  --bg-color: #f4f3ee;
}

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2d2d2d;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1024px auto;
  grid-gap: 16px;
}

.grid-item-header {
  grid-row-start: 1;
  grid-column-start: 2;
}


.grid-item-section {
  grid-row-start: 2;
  grid-column-start: 2;
}


.grid-item-footer {
  grid-row-start: 3;
  grid-column-start: 2;
  padding: 16px 0px 16px 0px;
  margin-top: 48px;
  background-color: var(--accent-color-4);
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: auto auto auto;
        grid-gap: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}

